{% extends 'base.html.twig' %}

<h1>Liste des Membres</h1>
<ul>
    {% for member in members %}
        <li>
            <a href="{{ path('app_member_show', {'id': member.id}) }}">{{ member.name }}</a>
        </li>
    {% endfor %}
</ul>

