{% extends 'base.html.twig' %}

{% block body %}

<h1>Fiche Membre</h1>
<p>Name : {{ member.name }}</p>

<h2>Regions in your kitchen</h2>
<ul>
    {% for region in member.regions %}
        <li>
            <a href="{{ path('app_region_show', {'id': region.id}) }}">{{ region.name }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}