{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle cuisine{% endblock %}

{% block body %}
    <h1>Créer une nouvelle cuisine</h1>

    {{ include('_form.html.twig') }}

    <a href="{{ path('kitchen_index') }}">Retour à la liste des cuisines</a>
{% endblock %}
