{% extends 'base.html.twig' %}

{% block title %}Meal Details{% endblock %}

{% block body %}
    <h1>Meal Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meal.id }}</td>
            </tr>
            <tr>
                <th>Meal Name</th>
                <td>{{ meal.Name }}</td>
            </tr>
            <tr>
                <th>Meal description</th>
                <td>{{ meal.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_region_show', {'id': region.id}) }}">Back to Gallery</a>
{% endblock %}
